{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'menu/style/style.css' %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Pizzeria</title>
</head>
<body>
    <header class="open_header">
        <section class="logo">
            <a href="/">
                <img src="{% static 'menu/img/logo.png' %}" alt="Logo Pizzerii">
            </a>
        </section>
        <nav>
            <a href="#">Klasyczne</a>
            <a href="#">Wege</a>
            <a href="#">Premium</a>
        </nav>
        <section class="actions">
            <a href="#">Zaloguj</a>
            <a href="/register/">Zarejestruj</a>
        </section>
        <section class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>0</span>
        </section>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>